%h1 outline show page
.show-outline-container
  .row
    %p
      = @outline.title
      = @outline.description
      = @outline.tone
      = @outline.mood
      = @outline.aesthetic
      = @outline.beats